<!DOCTYPE html>
<html lang="en">
<header>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
</header>
<head>
    <title>{{ name }}</title>
</head>
<body>
    <h1>Recipe Book</h1>
    <h2>{{ recipe.name }}</h2>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} x {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>