{% extends 'base.html' %}

{% block title %} Create a New Recipe {% endblock %}
{% block content %}
    <h2> Add Recipe</h2>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <button type="submit" name="recipe"> Submit</button>
        </form>
    </div>

    <h2> Add Ingredient</h2>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ ingredient_form.as_p }}
            <button type="submit" name="ingredient"> Submit</button>
        </form>
    </div>


    <h2> Add Recipe Ingredient</h2>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ recipe_ingredient_form.as_p }}
            <button type="submit" name="recipe_ingredient"> Submit</button>
        </form>        
    </div>


    <p>
        <a href="{% url 'ledger:recipe_list' %}"> <button type="button"> Back to Recipes List </button> </a>
    </p>

{% endblock %}
