<!DOCTYPE html>
<html lang="en">
<header>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
</header>
<head>
    <title>Recipe List</title>
</head>
<body>
    <h1>Recipe Book</h1>
    <ul>
        {% for recipe in object_list %}
            <li>
                <a href = "{% url 'ledger:recipe' recipe.pk %}">
                    {{ recipe.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>